<div
  class="grid grid-cols-2 items-center space-y-1 duration-200 hover:underline hover:underline-offset-4"
>
  <div
    class="w-[10rem] rounded-xl bg-gray-300 p-1 px-3 text-sm dark:bg-darkBlue1"
  >
    {{ description }}
  </div>
  <div class="flex items-center">
    <div class="h-4 w-full rounded-xl bg-gray-200 p-1">
      <div
        [style.width.%]="width"
        [ngClass]="['h-full rounded-xl p-1', barColor]"
      ></div>
    </div>
    <div class="ml-2 w-8 text-right text-sm">{{ value?.toFixed(0) }}%</div>
  </div>
</div>
