<app-layout [mainArea]="mainArea"></app-layout>

<ng-template #mainArea>
  <section class="bg-gray-50 dark:bg-darkBlue">
    <div
      class="mx-auto flex flex-col items-center justify-center px-6 py-8 lg:py-0"
    >
      <div *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div
        class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:my-10 xl:p-0"
        *ngIf="!isLoading"
      >
        <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl"
          >
            Create account
          </h1>
          <form
            class="space-y-4 md:space-y-6"
            (ngSubmit)="onSubmit(formObj)"
            #formObj="ngForm"
          >
            <div>
              <label
                for="firstName"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >First Name</label
              >
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
                [class.warning]="firstName.invalid && firstName.touched"
                placeholder="name"
                required
                ngModel
                #firstName="ngModel"
              />
              <small
                *ngIf="!firstName.valid && firstName.touched"
                class="text-red-600"
                >Please enter a valid first name!</small
              >
            </div>

            <div>
              <label
                for="lastName"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Last Name</label
              >
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
                [class.warning]="lastName.invalid && lastName.touched"
                placeholder="last name"
                required
                ngModel
                #lastName="ngModel"
              />
              <small
                *ngIf="!lastName.valid && lastName.touched"
                class="text-red-600"
                >Please enter a valid last name!</small
              >
            </div>

            <div>
              <label
                for="email"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Your email</label
              >
              <input
                type="email"
                name="email"
                id="email"
                class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
                [class.warning]="email.invalid && email.touched"
                placeholder="name@example.com"
                required
                ngModel
                #email="ngModel"
              />
              <small *ngIf="!email.valid && email.touched" class="text-red-600"
                >Please enter a valid email!</small
              >
            </div>

            <div>
              <label
                for="password"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
                [class.warning]="
                  password.invalid &&
                  password.touched &&
                  password.control.errors
                "
                required
                ngModel
                #password="ngModel"
                pattern="^(?=.*\d)(?=.*[a-z]).{6,}"
              />
            </div>
            <small
              *ngIf="
                !password.valid && password.touched && password.control.errors
              "
              class="text-red-600"
              >Must contain at least one number and one letter, and at least 8
              or more characters</small
            >
            <button
              type="submit"
              class="bg-primary-600 hover:bg-primary-700 focus:ring-primary-300 dark:focus:ring-primary-800 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4 dark:bg-accentCyan dark:hover:bg-darkCyan dark:disabled:cursor-not-allowed dark:disabled:bg-slate-500"
              [disabled]="!formObj.valid"
            >
              Create an account
            </button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Already have an account?
              <a
                routerLink="/login"
                class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
                >Login here</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</ng-template>
